input[type=range] {
    -webkit-appearance: none;
    width: 250px;
    margin-right: 4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 15px;
    cursor: pointer;
    background: rgb(247, 7, 127);
    border: 2px solid white;
    border-radius: 4px;
}

input[type=range]::-webkit-slider-thumb {

    border: 2px solid white;
    height: 30px;
    width: 16px;
    border-radius: 3px;
    background: rgb(247, 7, 127);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -9px;
}