body, html {
  height: 100%;
  margin: 0;

}

.logo-img {
    height: 100px;
    width: 100px;
    position: relative;

}

.grooveBox {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(247, 7, 127);
}

.title-heading {
    display: flex;
    font-size: 30px;
    padding: 5px;
    position: absolute;
    margin-top: -35px;
    margin-left: -10px;
    transform: rotate(-2deg);
}

.title-heading span {
    height: 155px;
    position: absolute;
    width: 20px;
    left: 0;
    right: 0;
    transform-origin: bottom center;
}

.char1 { transform: rotate(-60deg); }
.char2 { transform: rotate(-49deg); }
.char3 { transform: rotate(-39deg); }
.char4 { transform: rotate(-28deg); }
.char5 { transform: rotate(-18deg); }
.char6 { transform: rotate(-9deg); }
.char7 { transform: rotate(-1deg); }
.char8 { transform: rotate(16deg); }
.char9 { transform: rotate(28deg); }
.char10 { transform: rotate(38deg); }
.char11 { transform: rotate(48deg); }
.char12 { transform: rotate(58deg); }
.char13 { transform: rotate(63deg); }
.char14 { transform: rotate(73deg); }

.main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;   
}

.grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
}

.row {
    display: flex;
    justify-content: space-between;
}

.row > label {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    margin: 4px;
}

.playback {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 5px 4px;
    z-index: 3 !important; 
}

.clear-selection {
    z-index: 10;
}

.tempo-box {
    display: flex;
    flex-direction: column;
    width: 400;
    z-index: 10;
}

.tempo-metrics {
    display: flex;
    height: 30px;
    width: 400px;
    justify-content: space-between;
    align-items: center;
}

.tempo-metrics :first-child {
    margin-right: 5px;
}

.bpm-display {
    display: flex;
    justify-content: center;
    background: rgb(247, 7, 127);
    height: 24px;
    width: 44px;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
    border: solid white 2px;
    border-radius: 3px;
    outline: none;
    
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.tempo-metrics h2{
    color: rgb(247, 7, 127);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40xp;
}

.play-stop {
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

.play, .stop {
    height: 30px;
    width: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: white;
    border-radius: 3px;
    background-color: rgb(247, 7, 127);
    border: solid white 2px;
    outline: none;
    cursor: pointer;
}

.clear, .reset {
    height: 30px;
    width: 150px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: white;
    border-radius: 3px;
    background-color: rgb(247, 7, 127);
    border: solid white 2px;
    outline: none;
    cursor: pointer;
    z-index: 10;
}

.stop, .reset, .clear {
    margin-left: 12px;
}

.instrument {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 10px 5px 5px 12px;
    font-weight: bold;
}

button:hover {
    background-color: hotpink;
}

.info {
    display: flex;
    flex-direction: column;
    z-index: 10;
    margin-top: 35px;
    align-items: center;
}

.links {
    display: flex;
    width: 150px;
    flex-direction: row;
    justify-content: space-evenly;    
}

.name {
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
    color: rgb(247, 7, 127);
    margin-bottom: 5px;
    margin-top: 9px;
}

.github {
    background: url('../assets/icons/github-logo.png');
    background-size: cover;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.linkedIn {
    background: url('../assets/icons/linkedIn.png');
    background-size: cover;
    width: 28px;
    height: 28px;
    border-radius: 3px;
    cursor: pointer;
}

.angelList {
    background: url('../assets/icons/angelList.png');
    background-size: cover;
    width: 31px;
    height: 31px;
    cursor: pointer;
}

.grid > div > label > span {
    cursor: pointer;
}

